<ul id="favTrail">

   {{#each trailsData as |trail|}}


   <div class="hike " id={{ trail.id}}>
      <div class="card-body" id="hikeCard">
         <div class="row">
            <div class="col-sm-3 text-center">
               <img src={{trail.thumbnail}} alt="Trail Thumbnail Image" width="280px" height="200px" style="border:solid">
            </div>
            <div id="hikeTitle" class="col-sm-5">
               <header id="hikeName">
                  <h3>{{{trail.name}}}</h3>
               </header>
               <div class="container text-center" id="description">
                  <p>{{trail.description}}</p>
               </div>
            </div>
            <div class="col-sm-2">
               <h4>{{trail.city}}, {{trail.region}}</h4>
               <h5 style="font-style: italic"> Difficulty: {{trail.difficulty}}</h5>
               <p id="stars">Rating: {{trail.rating}}</p>
               <p id="stars">Length: {{trail.length}} miles</p>
               <br>
               {{!-- <h5 style="font-style: italic"><strong><a href="{{trail.directions}}" target="_blank">Directions</a></strong></h5> --}}
               <h5 style="font-style: italic"><strong><a href="{{trail.url}}" target="_blank" class="moreInfo">More Info </a></strong></h5>
            </div>
            <div class="col-sm-2 text-center" id="deleteTrail">
               <button type="button" class="btn deleteTrailBtn"
                  data-trailid="{{trail.favTrail_id}}">Delete</button>
            </div>
         </div>
      </div>
   </div>

   {{/each}}

</ul>

<script src="/js/favTrails.js"></script>
