{{!-- {{#each users as |user| }} --}}
<section class="trails">
  <img src="/images/{{thumbnail}}">
  <div class="trails-details">
    <h3><a></a>{{name}}</h3>
    <p>Description: {{description}}</p>
    <p>Directions: {{directions}}</p>
    <p>Rating: {{rating}}</p>
    <p>Length: {{length}} miles</p>
    <p>Features: {{features}}</p>
    <p>{{url}}</p>
  </div>
</section>
{{!-- {{/each}} --}}

{{id}}
{{name}}
{{url}}
{{length}}
{{description}}
{{directions}}
{{city}}
{{region}}
{{country}}
{{lat}}
{{lon}}
{{difficulty}}
{{features}}
{{rating}}
{{thumbnail}}